@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
